@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-image: url('./images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    color: white;
}

#body-imgs {
    display: flex;
    justify-content: left;
    margin-left: 6vw;
    margin-top: 4vw;
    font-family: 'Poppins';
}

.body-text {
    padding: 4vw;
}

#body-para {
    font-weight: 400;
    font-family: 'open sans';
}

#body-header {
    font-weight: 600;
    padding-bottom: 1vw;
    font-size: 2.3vw;
}

#body-img {
    padding: 2vw;
}

.button-area {
    padding-top: 1vw;
}

#register-button {
    text-decoration: none;
    border-radius: 1.5vw;
    padding: 0.5vw 2.5vw;
    text-align: center;
    color: hsl(257, 40%, 49%);
    background-color: white;
    margin-top: 1vw;
    transition: .5s;
}

#register-button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
}

.social-icons {
    text-decoration: none;
    display: flex;
    justify-content: right;
    padding: 2vw;
    margin-right: 1.5vw;
    font-size: 1vw;
    border-radius: 1vw;
}

#social-icons {
    padding: 0.5vw;
    margin-left: 1vw;
    border: 1px solid white;
    border-radius: 100vw;
    transition: 0.5s;
    color: white;
}

#social-icons:hover {
    border: 1px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}
